[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
matplotlib = "*"
numpy = "*"
networkx = "*"
pathlib2 = "*"
pillow = "*"
pygame = "*"
pandas = "*"
xlrd = "*"
jieba = "*"
telethon = "*"
apscheduler = "*"
datetime = "*"

[requires]
python_version = "3.7"
